nav.navbar {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	transition: all 0.5 ease-in;
	height: 12vh;
	background-color: rgba(0, 0, 0, 0.1);
}

nav.navbar.bg-black {
	background-color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
	font-size: 1.5rem;
	letter-spacing: 3px;
}

.navbar-nav {
	margin-right: 1rem;
}

.nav-item {
	padding: 3px 2px;
}

.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn:active,
.btn:focus {
	box-shadow: none;
	color: white;
}
