@import url('https://fonts.googleapis.com/css?family=Nunito');

@media (min-width: 1200px) {
	.container {
		max-width: 1280px;
	}
}

div.header {
	background-image: url('./s_logo.jpg');
	background-size: cover;
	background-position: top;
	height: 80vh;
	clip-path: ellipse(100% 55% at 48% 44%);
}
